# build output
.next/
out/
dist/

# dependencies
node_modules/

# logs
npm-debug.log*
*.log

# env
.env
.env.local
.env.production

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json

# typescript
next-env.d.ts
*.tsbuildinfo
